body {
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
@font-face {
    font-family: Gilroy;
    src: url(Font/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: GilroyLight;
    src: url(Font/Gilroy-Light.otf);
}
#home {
  background-color: #e7123a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coming_soon {
  color: #fff;
  font-size: 40px;
  font-family: GilroyLight;
  z-index: 1;
  letter-spacing: 5px;
}
.logo {
  width: 20%;
  z-index: 1;
}
.back {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.left {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 100px;
}
.right {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 100px;
}
.top {
  top: 10px;
  position: fixed;
  width: 300px;
}
.text {
  color: #fff;
  font-family: GilroyLight;
  z-index: 1;
  font-weight: bold;
  font-size: 14px;
  margin-top: -20px;

}
@media only screen and (max-width: 1000px) {
    .logo {
        width: 60%;
    }
   
    .back {
      transform: scale(1.7);
      bottom: 140px;
    }
    .top {
      width: 500px;
    }
    .left {
      width: 200px;
    }
    .right {
      width: 200px;
    }
}
